<h2 class="catalog-subtitle">Catálogo</h2>

<div class="catalog-container">

    <app-category-filter 
        [categories]="categories()" 
        [activeCategory]="activeCategory()"
        [totalProducts]="filteredProducts().length"
        (onCategoryChange)="setCategory($event)">
    </app-category-filter>

    <div class="products-grid">
        <app-product-card 
            *ngFor="let p of filteredProducts(); let i = index"
            [product]="p"
            [isMaxReached]="isMaxStockReached(p)"
            (onAdd)="addToCart($event)">
        </app-product-card>

        <!-- NO PRODUCTS -->
        <div class="empty-state" *ngIf="filteredProducts().length === 0">
            <i class="bi bi-inbox"></i>
            <h3>No hay productos</h3>
            <p>No encontramos productos en esta categoría</p>
        </div>
    </div>
</div>