<section class="hero container-fluid px-0">
    <div class="row align-items-center justify-content-end g-0 hero-elements">

        <!-- TEXT -->
        <div class="col-lg-6 text-center text-lg-start hero-content text-lg-start px-3 px-lg-0 mx-auto mx-lg-0">
        
            <p class="subtitle">
                Lleva tu experiencia de juego al siguiente nivel
            </p>

            <h1 class="display-5 display-lg-3">
                Todo lo que necesitas <br>
                <span>para dominar el juego</span>
            </h1>

            <p class="description">
                Desde clásicos hasta nuevos lanzamientos, tenemos algo para cada jugador.
                Lanzamientos, ofertas exclusivas y todo para tu mundo gaming.
            </p>

            <div class="hero-buttons d-flex justify-content-center justify-content-lg-start gap-3">
                <a class="primary" routerLink="/catalog">Explorar</a>
                <a class="secondary" routerLink="/contact">Contáctanos</a>
            </div>

        </div>

        <!-- IMAGE -->
        <div class="col-lg-6 d-flex align-items-end justify-content-lg-end p-0 hero-image">
        <img src="./hero-image.png" class="img-fluid hero-img" alt="gaming">
    </div>

    </div>

    <!-- EFECTS -->
    <div class="grid-pattern"></div>
</section>