<form #formRef="ngForm" (ngSubmit)="submitForm()">
    <div>
        <input type="text" name="name" [(ngModel)]="product.name" placeholder="Nombre del producto" required />
    </div>

    <div>
        <input type="text" name="category" [(ngModel)]="product.category" placeholder="Categoría" />
    </div>

    <div>
        <input type="text" name="brand" [(ngModel)]="product.brand" placeholder="Marca" />
    </div>

    <div>
        <input type="number" name="price" [(ngModel)]="product.price" placeholder="Precio" required />
    </div>

    <div>
        <input type="number" name="stock" [(ngModel)]="product.stock" placeholder="Stock" required />
    </div>

    <!--
    <div>
        <input type="" name="image" [(ngModel)]="product.image" placeholder="" required />
    </div>
    -->
    
    <button type="submit">Guardar Producto</button>
</form>