<div class="product-card">

    <!-- IMAGE -->
    <div class="product-image-wrapper">
        <img *ngIf="product.image_url" 
            [src]="'http://localhost:3000/uploads/' + product.image_url" 
            [alt]="product.name"
            class="product-image">
    </div>

    <!-- Info -->
    <div class="product-info">
        <div class="product-category">{{ product.category }}</div>
        <h5 class="product-title">{{ product.name }}</h5>
        
        <div class="product-stock" 
            [class.low-stock]="product.stock > 0 && product.stock <= 5">
            
            <i class="bi" 
                [class.bi-check-circle-fill]="product.stock > 0"
                [class.bi-exclamation-circle-fill]="product.stock <= 0">
            </i>

            <span>
                {{ product.stock > 0 
                    ? (product.stock <= 5 
                        ? 'Últimas ' + product.stock + ' unidades' 
                        : 'En stock') 
                    : 'Agotado' 
                }}
            </span>
        </div>
        
        <div class="product-price">
            <span class="current-price">
                {{ product.price | currency }}
            </span>
        </div>

        <!-- ACTIONS -->
        <div class="product-actions">
            <a [routerLink]="['/catalog', product.id]" class="btn-details">
                Ver detalles
                <i class="bi bi-arrow-right"></i>
            </a>
            
            <button (click)="onAdd.emit(product)" 
                    class="btn-add-cart"
                    [disabled]="product.stock <= 0 || isMaxReached">
                
                <i class="bi bi-cart-plus"></i>
            </button>
        </div>
    </div>
</div>