img {
    object-fit: scale-down !important;
}

a {
    text-decoration: none !important;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card {
    margin-bottom: 24px;
    border: 1px solid #eff0f2;
    border-radius: 1rem;
    box-shadow: 0 2px 3px #e4e8f0;
}